body{
    margin: 0;
    padding: 0;
    background-image: url(/Carimar__Kouums/public/img/bg.jpg); 
    background-size: contain;
    background-size: 80%;            
}
.titre{
    text-align: center;
    color: white;
}
.FirstSquare{
    box-shadow: 0px 0px 35px 1px ;
    width: 70%;
    margin: auto;
    background-color: white;
}
.FirstSquare img{
    width: 100%;
}

.FirstSquare1{
    text-align: center;
}
.FirstSquare2{
    background-color: rgb(209, 209, 209);
    text-align: left;
    padding: 50px;
    
}
h1:nth-last-of-type(2){
    font-size: 30px;
}
h1:nth-child(3){
    font-size: 15px;
    color: rgb(110, 110, 110);
}
.SecondSquare{
    box-shadow: 0px 0px 35px 1px ;
    width: 70%;
    margin: auto;
    background-color: rgb(45, 45, 45);
    padding-top: 75px;  
}
.SecondSquare h1:nth-child(1){
    color: white;
    text-align: center;
    font-size: 25px;
}
.SecondSquare .SS2{
    font-size: 15px;
    color: rgb(110, 110, 110);
    text-align: center;
}

.SecondSquare img{
    width: 40%;
}
.SecondSquare div:nth-child(1){
    width: 80%;
    margin: auto;
    background-color: black;
    padding-bottom: 1px;
    padding-top: 1px; 
}
.SecondSquare div:nth-child(2){
    width: 80%;
    margin: auto;
    padding-bottom: 75px;   
}
.SecondSquare div:nth-child(2) img:nth-child(1){
    width: 50%; 
    height: 100%;  
}
.SecondSquare div:nth-child(2) img:nth-child(2){
    width: 50%;
    float: right;
    height: 100%;
}
.SecondSquare div:nth-child(2) img:nth-child(4){
    width: 50%;
    height: 100%;
}
.SecondSquare div:nth-child(2) img:nth-child(3){
    width: 50%;
    float: left;
    height: 100%;
}
.ThirdSquare{
    box-shadow: 0px 0px 35px 1px ;
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.ThirdSquare img{
    width: 100%;
    height: 100%;
}
.ThirdSquare div:nth-child(2){
    background-color: white;
    text-align: left;  
    padding-left: 50px;
    padding-top: 50px;
}
.ThirdSquare div:nth-child(3){
    background-color: rgb(45, 45, 45);
    color: white;
    text-align: right;
    padding-right: 50px;
    padding-top: 50px;
}
.ThirdSquare div:nth-child(6){
    background-color: white;
    text-align: left;  
    padding-left: 50px;
    padding-top: 50px;
}
.ThirdSquare p{
    color: rgb(110, 110, 110);
}
 footer{
     padding: 50px;
     text-align: center;
     color: rgb(213, 212, 212);
 }

.logo{
    color: white;
}

@media (min-width: 320px) and (max-width: 739px){
    body{
    background-image: url(/Carimar__Kouums/public/img/bg.jpg);
    background-size: cover;
    }
    body h1{
        font-size: 15px;
    }
    .FirstSquare{
        font-size: 10px;
    }
    .ThirdSquare{
        display: block;
        font-size: 10px;
        padding-top: 0;
        padding-top: 0;
    }
    
}


